main{
    max-width: 1000px;
    width: 95%;
    margin-top: 20px;
    margin: auto;
}

form[method='post']{
    margin: auto;
    margin-top: 40px;
    width: 400px;
    color: #F2F2F2;
}
  
form[method="post"] input{
    margin-top: 5px;
    margin-bottom: 5px;
    outline: none;
    border: none;
    border-radius: 5px;
    padding:5px;
}
  
form[method="post"] button{
    margin-top: 10px;
    border: none;
    padding: 5px;
    font-size: 20px;
}
  
h2{
    text-align: center;
    margin: 5px;
}
  
#auth{
    border-radius: 5px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #1B3C59;
    padding: 20px;
}