table{
    table-layout: fixed;
    text-align: center;
    border-collapse: collapse;
    margin: auto;
    margin-bottom: 5px;
    width: 900px;
}

thead{
    margin-bottom: 10px;
}

table .product-cart{
    margin-bottom: 50px;
    border-radius: 5px;
}

table .product-cart td{
    padding:5px;
}

#cart-total{
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
    box-shadow: 5px 5px 5px #e0e0e0;
    max-width: 200px;
    margin: auto;
    margin-bottom: 20px;
    padding: 10px;
}

#cart-total h2{
    margin: 0px;
}

.trash i{
    cursor: pointer;
    color:  #1B3C59;
}

.trash i:hover{
    color:  #F24162;
}

.img-cart{
    width: 80px;
}

.img-cart img{
    width: 100%;
    height: auto;
    border-radius: 3px;
}

/* .cart-wish .quantity{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.cart-wish .quantity p{
    margin-bottom: 5px;
} */

.cart-wish .quantity{
    width: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.cart-wish .quantity button{
   width: 25px;
}