main{
    max-width: 1000px;
    width: 98%;
    margin: auto;
}
.img-category{
    width: 100%;
    height: auto;
}

.quantity{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}