a{
  text-decoration: none;
}

form[method='post']{
  margin: auto;
  margin-top: 40px;
  width: 400px;
  color: white;
}

form[method="post"] input{
  margin-top: 5px;
  margin-bottom: 5px;
  outline: none;
  border: none;
  border-radius: 5px;
  padding:5px;
}

form[method="post"] button{
  margin-top: 10px;
  border: none;
  background-color: rgb(57, 179, 0);
  color: white;
  padding: 5px;
  font-size: 20px;
}

h2{
  text-align: center;
  margin: 5px;
}

#form{
  border-radius: 5px;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(187, 84, 0);
  padding: 20px;
}

.product-imgL{
  max-width: 100%;
  height: auto;
}

.variant{
  margin-bottom: 3px;
}

.product-page{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding:10px;
  margin-top: 50px;
  box-shadow: 5px 5px 5px rgb(161, 161, 161);
  border-radius: 5px;
  border: 1px solid rgb(216, 216, 216);
}

