<header>
    <div id="header">
      <h1>Alibazon</h1>
      <div class="category-btns">
        <a href="/category/mens" style="align-self: center;"><button>MENS</button></a>
        <a href="/category/womens" style="align-self: center;"><button >WOMENS</button></a>
      </div>
    </div>
</header>