<header>
    <div id="header">
      <h1>Alibazon</h1>
      <a href="/category/mens"id="btn-category1"><button>Men's</button></a>
      <a href="/category/womens"id="btn-category2"><button >Women's</button></a>
    </div>
</header>