<header>
    <div id="header">
      <h1>Alibazon</h1>
      <div class="category-btns">

        <% if(links[0].link === "mens") {%>
          <a href="/category/mens" style="align-self: center;"><button style="background-color: rgb(194, 194, 194);">MENS</button></a>
          <a href="/category/womens" style="align-self: center;"><button style="background-color: rgb(255, 255, 255);" >WOMENS</button></a>
        <% } else {%>
          <a href="/category/mens" style="align-self: center;"><button style="background-color: rgb(255, 255, 255);">MENS</button></a>
          <a href="/category/womens" style="align-self: center;"><button style="background-color: rgb(194, 194, 194);" >WOMENS</button></a>
        <% } %>
      </div>
    </div>
</header>
  <div id="navbar">
    <a class="nav-aa" href='#'>Home</a>
    <% links.forEach(function(elem){ %>
        <a class="nav-a" href='<%= elem.link %>'><%= elem.ap %></a>
    <% }); %>
  </div>