<header>
    <div id="header-div">
      <h1>Alibazon</h1>

      <form action="/products/search">
        <div id="search">
          <input type="text" name="q" id="q" placeholder="Search">
          <button type="submit"><i class="fas fa-search"></i></button>
        </div>
      </form>

      <div id="btns-div">
        <% if(user === 'none') {%>
          <a href="/auth/register"><button class="icon"><i class="fas fa-user-plus"></i> SIGN UP</button></a>
          <a href="/auth/login"><button class="icon"><i class="fas fa-sign-in-alt"></i> SIGN IN</button></a>
        <% } else {%>
          <a href="/profile"><button class="icon"><i class="fas fa-user-circle"></i> <%= user.user.name %></button></a>
          <a href="/cart"><button class="icon"><i class="fas fa-shopping-cart"></i> Cart</button></a>
          <a href="/wishlist"><button class="icon"><i class="fas fa-clipboard-list"></i> Wishlist</button></a>
          <a href="/auth/logout"><button class="icon"><i class="fas fa-sign-out-alt"></i> SIGN OUT</button></a>
        <% } %>

        <% if(links[0].ap === 'Womens') {%>
          <a href="/category/mens"><button class="icon">MENS</button></a>
          <a href="/category/womens"><button class="icon cat">WOMENS</button></a>
        <% } else if(links[0].ap === 'Mens') {%>
          <a href="/category/mens"><button class="icon cat">MENS</button></a>
          <a href="/category/womens"><button class="icon">WOMENS</button></a>
        <% } else {%>
          <a href="/category/mens"><button class="icon">MENS</button></a>
          <a href="/category/womens"><button class="icon">WOMENS</button></a>
        <% } %>
      </div>

    </div>
</header>