<!DOCTYPE html>
<html>
  <%- include('./head') %>
  <body>
    <%- include('./header') %>
  <div>
    <a href='#'>Home</a>
  </div>
      <main>
        <div>
            <h1>Oops, page not found</h1>
        </div>
      </main>

      <hr>

      <%- include('./footer') %>
  </body>
</html>