<!DOCTYPE html>
<html>
  <%- include('./head') %>
  <body>
    <%- include('./header') %>
  <div>
    <a href='#'>Home</a>
  </div>
  <div class="container">
    <main>
      <div>
          <h1>Oops, page not found</h1>
      </div>
    </main>
  </div>

      <%- include('./footer') %>
  </body>
</html>