<!DOCTYPE html>
<html>
  <head lang="en">
    <title>NotFound</title>
    <link rel='stylesheet' type='text/css' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <div id="header">
        <h1>Alibazon</h1>
        <div class="category-btns">
            <a href="/category/mens" style="align-self: center;"><button>MENS</button></a>
            <a href="/category/womens" style="align-self: center;"><button>WOMENS</button></a>
        </div>
      </div>
  </header>
  <div id="navbar">
    <a class="nav-aa" href='#'>Home</a>
  </div>
      <main>
        <div class='product-page'>
            <h1>Oops, page not found</h1>
        </div>
      </main>

      <hr>

      <footer>Copyright 2020 OSF Digital</footer>
  </body>
</html>