<!DOCTYPE html>
<html>
  <%- include('./head') %>
  <body>
    <%- include('./header') %>
      <main>


        <form action="/auth/login" method="post">
            <div id="auth">
                <h2>SIGN IN</h2>
                <label for="email">Email: </label>
                <input type="text" name="email" id="email">
                <label for="email">Password: </label>
                <input type="text" name="password" id="password">
                <button type="submit">LOGIN</button>
            </div>
        </form>

        
      </main>
      <%- include('./footer') %>
  </body>
</html>