<!DOCTYPE html>
<html>
  <%- include('./head') %>
  <body>
      <%- include('./header') %>
      <%- include('./breadcrumbs') %> 
      <div class="container">
        <main>
          <h1>Success!</h1>
        </main>
      </div>
      <%- include('./footer') %>
      <script src="/javascripts/createOrder.js"></script>
  </body>
</html>